{
    "presets": [
        [ "@babel/preset-env", {
          "useBuiltIns": "entry",
          "corejs": 3,
          "targets": {
            "node": "current"
          }
        }]
    ],
    "plugins": [
      "import-glob",
      "inline-dotenv"
    ]
}